/* CSS file linked  */

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: start;
}
h1{
    text-decoration: double underline;
    height: 50px;
    width: 400px;
    border-width: 5px;
    border-style: groove;
    border-color: red;
    border-radius: 10%;
}

/* by using border-top-right-radius
we can particularly customize the
a single corner of the border...  */

div{
    height: 175px;
    width: 400px;
    background-color: beige;
    border-width: 5px;
    border-style: double;
    border-color: black;
    border-left-color: red;
    border-left-style: dashed;
    border-radius: 15px;
    padding-left: 10px;
}
button{
    background-color: black;
    color: beige;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;

}
button:hover{
    background-color: beige;
    color: black;
}